* {
font-family:Verdana, Tahoma, sans-serif;
background-color: darkgreen;
color: gold;
}

#strBtn {
background-color: gold
}

h1 {
text-align: center;
border-style: solid;
border-color:white;
border-width: 5px;
}

div {
    text-align: center;
    margin: auto;
    border: 3px gold;
    align-content: center;
    justify-content: center;
}

h2 {
    /* border-style: solid;
    border-color: rgba(2, 167, 51, 0.877); */
    text-align: center;
    align-content: center;
}


#firstAns {
position: relative;
top: auto;
left: auto;
}